<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="w-full bg-[#1B1A1E] flex justify-center items-center content-center h-screen">
                <div class="border rounded-md border-[#2E2D32] bg-[#2E2D32] shadow-lg p-12">
            <form>
                <div class="flex justify-center">
                <img src="{{ asset('build/img/logowt.svg') }}" alt="techtonic">
                </div>

        <div class="flex justify-center">
            <span class="text-3xl font-bold mb-6 text-[#74B0E1]">Register</span>
        </div>
        <div class="flex flex-row justify-evenly gap-8"><div class="mb-6">
            <label for="firstname" class="block mb-2 text-sm font-medium text-[#74B0E1] dark:text-white">Your first name</label>
            <input type="firstname" id="firstname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Jack" required>
        </div>
        <div class="mb-6">
            <label for="lastname" class="block mb-2 text-sm font-medium text-[#74B0E1] dark:text-white">Your last name</label>
            <input type="lastname" id="firstname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Sparrow" required>
        </div>
        </div>
        
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-[#74B0E1] dark:text-white">Your email</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="jack.sparrow@pirate.com" required>
    </div>
    <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-medium text-[#74B0E1] dark:text-white">Your password</label>
        <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div class="flex items-start">
        <span class="text-xs font-medium -mt-4 mb-8 text-[#74B0E1] dark:text-gray-400">Forgot password?</span>
    </div>

    <div class="flex justify-center">
    <button type="submit" class="text-white bg-[#74B0E1] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </div>
    </form>
    </div>
    </div>
        {% endblock %}
    </body>
</html>
